body {
    background-color: white;
}
h1{
    font-size: 50px;
    color: #008000;
    text-align: center;
    font-family: sans-serif;
}
h2{
    color: black;
    text-align: center;
    font-size: 45px;
    background-color: #228B22;
    font-family: sans-serif;
}

footer{
    background-color: #228B22;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
p{
    font-size: 20px;
    margin: 25px;
}
h3{
    margin-left: 50px;
    margin-right: 50px;
    font-family: sans-serif;
}
li{
    font-size: 20px;
    font-family: sans-serif;
    margin: 5px;
}
p{
    font-family: sans-serif;
}
#cor{
    color: #FF8C00;
}
#logo{
    margin-left: 150px;
}
.img{
    margin-left: 100px;
}
#bordaecor{
    border-style: solid;
    border-color: #32CD32;
    border-width: 5px;
    padding: 0px 10px 0px 10px;
    margin-right: 1050px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-top: 25px;
}
#bordaecor2{
    border-style: solid;
    border-color: #32CD32;
    border-width: 5px;
    padding: 0px 10px 0px 10px;
    margin-right: 1250px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-top: 25px;
}
#bordaecor3{
    border-style: solid;
    border-color: #DAA520;
    border-width: 5px;
    padding: 0px 10px 0px 10px;
    margin-right: 1250px;
    margin-bottom: 50px;
    margin-left: 10px;
}
#rodape{
    background-color: #F4A460;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
#margem{
    margin-left: 500px;
    margin-right: 500px;
}
#video{
    margin-left: 500px;
    margin-right: 500px;
}
#margemtexto{
    margin-left: 400px;
    margin-right: 400px;
}