h1,h2{
	color: rgb(0,78,255);
	font-size: 31px;
}
body{
	background-color: rgb(125, 0, 0);
	color: rgb(255,255,255);
	text-align: center;
}
#texto{
	border-width: 10px;
	border-style: solid;
	border-color: rgb(255,255,0);
	font-size: 15px;
}
footer{
	background-color: rgb(255,0,255);
	color: rgb(255,255,255);
}
.texto{
	color: rgb(175,175,175);
	font-size: 20px;
}
a,p{
	font-size: 20px;
	color: rgb(255,255,255);
}
.topico{
	color: rgb(216,164,14);
}
h3{
	font-size: 23px;
}
img{
	border-style: solid;
	border-width: 5px;
	border-color: rgb(0,100,0);
}