body{
  font-family: Arial, sans-serif;
  background-size: 100px 100px;
  border-top: 20px;
 	border-radius: 20px;
 	border-color: #0000;
 	border-width: 50px;

 }
 #link{
 	border-top: 20px;
 	border-radius: 20px;
 	border-color: #0000;
 	border-width: 50px;

 }
