h1{
	color:#000000;
	padding-left: 20px;
	padding-top:20;
	font-size: 35px;

}
h2{
	font-size: 30px;

}
p{
	color: #000000;
	font-size:20px;
}
body{
	margin: 40px 40px 40px 40px;
	border-color:#32CD32;
	border-style: solid;
	border-width: 4px ;
	text-align: center;
	background-color: FAFAD2;
	font-family:revert-layer;
}
figure{
	margin-bottom:30px;
}
a{
	color: #000000;
	text-decoration: none;
}
li{
	color: #000000;
	list-style-position:inside; 
	font-size:20px;
}
footer{
	background-color:32CD32;
	padding: 8px;
	text-align: center;
}
h3{
	padding: 25px;
}
#cor{
	background-color:#32CD32;
	font-size: 25px;
}
#borda{
	border-style: inherit;
	border-width: 1px;
	padding: 25px 400px 25px 400px;
}
.todos{
	background-color:#32CD32;
}
