body{
	font-family: sans-serif;
	background-image: url(../img/fundo.jpg);
	background-attachment: fixed;
	padding: 25px;
	font-weight: bold;
	font-size: 25px;
}
div{
	border-color: rgb(0,0,0);
	background-color: rgb(255,255,255);
	border-radius:25px;

}
h1{
	text-align: center;
}
p{
	padding-left: 25px;
}
a{
	margin: 25px;
}
footer{
	text-align: center;
	background-color: rgb(255, 255, 255);
	font-size: 23px;
	border-color: rgb(0, 0, 0);
	padding: 25px;
	margin: 25px;
	
}
iframe{
	padding-left: 25px;
}
#center{
	text-align: center;
	padding-bottom: 25px;
}
#center1{
	text-align: center;
}
#casa{
	text-align: center;
	padding-bottom: 20px;
}
#explicaçaodovdo{
	padding-bottom: 25px;
}
