	body{
		font-family: sans-serif;
		background-color: #228B22;
		color: #ffffff;
		margin:30px 40px 30px 40px;
	}
	h1{
		color: rgb(255, 0, 0);
		background-image: url(../img/claro.jfif);
		padding: 20px;
		text-align: center;
	}
	p{
		color:#ffffff;
		text-align: center;
	}
	figure{
		margin-bottom: 50px;
	}
	a{
		color: rgb(0, 0, 0);
	}

	footer{
		background-color: rgb(255,255,255)
		padding:10px;
		text-align: center;
	}
	h2{
		color: rgb(255, 0, 0);	
	}
	#botoes{
		margin-left: 400px;
	}
	.body2{
		text-align: center;
	}