 body{
	 	background-color:#B0C4DE ;
	 	
	 }
	 h1{color: black;
	 	  font-size: 80px;
	 	  padding-left: 15px
	 }
	 footer{
	 	background-color:#4682B4 ;	
	 	padding: 50px;
	 	color: white ;
	 	font-size: 30px ;
	 }
	 img{
	 	padding: 50px
	 }
	 .sim {
	 	font-size: 30px;
	 }