	body{
		
	
		
		background: rgb(219, 255, 13);
		font-family: sans-serif;
		padding: 15px;
		
		
		



	}
	h1 {
		
		
		padding-left: 30px;
		background-image: url(../img/Claro.jff);
		margin: 50px 300px 50px 30px;
		padding-left: 30px;
		padding-top: 40px;
		padding-bottom: 15px;
    }

 footer {

        margin: 300, 300, 300, 300;
		border-color: rgb(235, 52, 64);
		border-style:  solid;
		border-width: 2px;
		background-color: red;
 }


div {

background-color: rgb(255, 255, 255);


}