body{	
	background-color:rgb(254, 103, 29)}
	p{color: #c6e2ff
		
	}
	h1{color:#e2e2ff }	
	h2{color: #e2e2ff}
	

}

iframe{
	margin: 25px;
}

body{
	border-style:solid;
	border-width:10px;
	border-color: 235, 64, 52;
	font-family: 'Dancing Script';font-size: 22px;

}


footer {

	color: #FFFFFF;
	border-color: #FF0000;
	background-color: (242, 239, 31);

} 

li {

	color:#FFFFFF;
	{background-color:#001940}

}





