 body{color:rgb(139,35,35);}
            body{
                background-color:white;
                font-family:monospace;
                font-size: 20px;
                text-align: center;
               
            }
 
 body{
 	margin:50px;
 	padding: 30px;

 }
 h1{
 	
 	
 	padding-left: 1px;
 	padding-top: 1px;
 	padding-bottom: 1px;
 }
 h2{
    text-align: center;
 }
figure{
	margin-bottom: 60px;
}
ul{
    text-align: left;
}

footer{
	background-color:rgb(50,205,50);
	color: rgb(255, 0, 0);
	margin:0px;
	min-height: 90px;
	font-size: 30px;
	text-align: center;
    margin: 10px;
}
#borda{
    border-color:rgb(50,205,50);
    border-style: solid;
    border-width: 5px;
    
   }
   #destaque{
    color: rgb(255, 0, 0);
   }